In [16]:
import numpy as np
import pandas as pd
from Perceptron import Perceptron
import time
import pickle
import seaborn as sns

In [17]:
iris = sns.load_dataset('iris')
type(iris), iris.shape

(pandas.core.frame.DataFrame, (150, 5))

In [41]:
iris.to_csv("./iris.csv", index=False)

In [19]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [30]:
np.where(iris.iloc[:99, 4].values == "setosa", 1, -1)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1])

In [32]:
def step1_learning():
    X = iris.iloc[:99, [2, 3]].values
    y = np.where(iris.iloc[:99, 4].values == "setosa", 1, -1)
    # 모델 학습
    ppn = Perceptron(eta=0.1)
    s_time = time.time()
    ppn.fit(X, y)
    e_time = time.time()
    print("학습에 걸린 시간: ", e_time - s_time)
    print("학습 중에 오차난 수:", ppn.errors_)
    with open("./iris_model.pickle", "wb") as f:
        pickle.dump(ppn, f)
    print("학습이 완료되었습니다.")

In [36]:
step1_learning()

update:  0.2
w_:  [0.28 0.04] b:  0.2
update:  -0.2
w_:  [-0.66 -0.24] b:  0.0
update:  0.2
w_:  [-0.38 -0.2 ] b:  0.2
update:  0.2
w_:  [-0.1  -0.16] b:  0.4
학습에 걸린 시간:  0.004675865173339844
학습 중에 오차난 수: [2, 2, 0, 0, 0, 0, 0, 0, 0, 0]
학습이 완료되었습니다.

In [39]:
def setp2_using():
    with open("./iris_model.pickle", "rb") as f:
        model = pickle.load(f)
        while True:
            a1 = input("첫 번째 숫자를 입력하세요(0, 1): ")
            a2 = input("두 번째 숫자를 입력하세요(0, 1): ")

            if a1 == "99":
                break
            X = np.array([float(a1), float(a2)])
            result = model.predict(X)

            if result == 1:
                print("결과 : setosa")
            else:
                print("결과 : versicolor")

In [42]:
setp2_using()

결과 : setosa